{{#if logged_in}}
<div class="fullscreen-bg">
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="assets/video/Shop.mp4" type="video/mp4">
    </video>
</div>
{{!-- TRADE MODAL BEGIN --}}
<!-- Login Modal content-->
   <div class="modal fade trade" id="trade" role="dialog">
       <div class="modal-dialog modal-lg" role="document">

           <div class="modal-content" style="background-color:#222;">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h2 class="modal-title" style="color:lightgreen"><strong>Trade Offers</strong></h2>
               </div>
              <div class="panel-body" id="trade-body">
                    {{#each offers}}       
                        <div class="product col col-md-12">
                             <ul style="padding:0">
                                <li>
                                <div class="col col-md-6 text-center">
                                 <h1><em>Offer</em></h1>   
                                <img class="product-img"src="{{this.offerPicture}}" style="width: 200px; height: 200px;">
                                </div>
                                <div class="col col-md-6 text-center">
                                <h1>Item</h1>
                                <img class="product-img"src="{{this.requestPicture}}" style="width: 200px; height: 200px;">
                                </div>   
                                </li>

                            </ul>
                            <div class="row">
                                <div class="col col-md-12 text-center{{!-- col-md-offset-3 --}}">
                                    
                            <form method="POST" action="/trade/accept/{{this.buyer_id}}/{{this.seller_id}}/{{this.buyer_product_id}}/{{this.seller_product_id}}?_method=PUT" class="button-size">
                                <input input type="hidden" type="text" name="trade_id" value={{this.id}}><br>
                                <button type="submit" class="btn btn-success">Confirm Trade</button>
                            </form>
                                </div>
                                </div>
                            <div class="row">

                                <div class="col col-md-12 text-center{{!-- col-md-offset-3 --}}">

                            <form method="POST" action="/trade/deny?_method=PUT" class="button-size">
                                <input input type="hidden" type="text" name="trade_id" value={{this.id}}>
                            <button type="submit" class="btn btn-danger">Deny Trade</button>
                            </form>
                                </div>
                                </div>

                            </div>

                        </div>     
                    {{/each}}
                    
                    </div>

           </div>
       </div>
   </div>
   {{!-- TRADE MODAL ENDS --}}


<div class="container">
    {{!--  Add Product Form --}}
    <div class="jumbotron jumbo-market">
        <div class="row">
            <div class="col col-sm-12">
                <h1 class="text-center" id="market-title">Marketplace</h1>

                    <form method="POST" action="request/{{this.id}}?_method=PUT" class="button-size" id="requestForm">
                        <div id="prod-div">
                            {{#each market_products}}       
                                    
                                        <div class="each-product">
                                             <img class="product-img" src="{{this.picture}}" style="width: 200px; height: 200px;">
                                             <br>
                                             <span class="greentext text-center">Select This Item       <input type="radio" name="request" value={{this.id}} data-user={{this.user_id}} data-id={{this.id}} data-picture={{this.picture}}></span>

                                             {{!-- <div class="product-info" style="display: none"> --}}
                                             <div class="product-info">
                                                <p>{{this.name}}</p>
                                                <p>Category: {{this.category}}</p>
                                                <p>Condition: {{this.condition}}</p>
                                                <p>Value: ${{this.value}}</p>
                                            </div>
                                        </div>
                            {{/each}}
                        </div>
                    </form>
 
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-12">
                    <h1 class="text-center" id="my-item-title">My Items</h1>
  
                        <form method="POST" action="offer/{{this.id}}?_method=PUT" class="button-size" id="offerForm">
                            {{#each owner_products}}      

                            <div class="each-user-own-product">
                                <img class="product-img"src="{{this.picture}}" style="width: 200px; height: 200px;">
                                <br>
                                <span class="greentext text-center">Select This Item       <input type="radio" name="offer" value={{this.id}} data-user={{this.user_id}} data-id={{this.id}} data-picture={{this.picture}}></span>

                                {{!-- <div class="product-info" style="display: none"> --}}
                                <div class="product-info">
                                    <p>{{this.name}}</p>
                                    <p>Category: {{this.category}}</p>
                                    <p>Condition: {{this.condition}}</p>
                                    <p>Value: ${{this.value}}</p>
                                </div>
                            </div>
                                    
                            {{/each}}
                        </form>
                </div>
            </div>


            <div class="row">
                <div class="col col-md-12 text-center">

                    <button class="btn btn-success center-block" id="tradeConfirm">Confirm Trade Request</button>
                </div>
           </div>
    </div>

    </div>
    </div>
</div>
{{/if}}
