{{#if logged_in}}
<div class="fullscreen-bg">
    <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="assets/video/Shop.mp4" type="video/mp4">
    </video>
</div>
{{!-- TRADE MODAL BEGIN --}}
<!-- Login Modal content-->
   <div class="modal fade trade" id="trade" role="dialog">
       <div class="modal-dialog modal-sm" role="document">

           <div class="modal-content" style="background-color:#222;">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h2 class="modal-title" style="color:lightgreen"><strong>Trade Offers</strong></h2>
               </div>
              <div class="panel-body">
                    {{#each offers}}       
                        <div class="product col col-lg-3">
                             <ul>
                                <li>
                                Offered by: {{this.buyer_id}}
                                </li>
                                <li>
                                Offered to: {{this.seller_id}}
                                </li>
                                <li>
                                Offered item: {{this.buyer_product_id}}
                                 </li>
                                 <li>
                                 Requested item: {{this.seller_product_id}}
                                 </li>
                            </ul>
                        </div>
                        <div class="col-xs-3 text-center">
                            <form method="POST" action="/trade/accept/{{this.buyer_id}}/{{this.seller_id}}/{{this.buyer_product_id}}/{{this.seller_product_id}}?_method=PUT" class="button-size">
                                <input input type="hidden" type="text" name="trade_id" value={{this.id}}><br>
                                <button type="submit" class="btn btn-succes">Shake Hands</button>
                            </form>
                            <form method="POST" action="/trade/deny?_method=PUT" class="button-size">
                                <input input type="hidden" type="text" name="trade_id" value={{this.id}}><br>
                            <button type="submit" class="btn btn-warning">Too Slow</button>
                            </form>
                        </div>     
                    {{/each}}
                    
                    </div>

           </div>
       </div>
   </div>
   {{!-- TRADE MODAL ENDS --}}


<div class="container">
    {{!--  Add Product Form --}}
    <div class="jumbotron jumbo-market">
        <div class="row">

        {{!-- <div class="col col-sm-12"> --}}
            <div class="col col-sm-12">
             {{!--    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Marketplace</h3>
                    </div> --}}
                    <h1 class="text-center" id="market-font">Marketplace</h1>
                    {{!-- <div class="panel-body"> --}}

                        <form method="POST" action="request/{{this.id}}?_method=PUT" class="button-size" id="requestForm">
                        <div id="fuck">
                            {{#each market_products}}       
                                    
                                        <div class="each-product">
                                             <img class="product-img" src="{{this.picture}}" style="width: 200px; height: 200px;">
                                             <br>
                                             <span class="formtext">Select This Item       <input type="radio" name="request" value={{this.id}} data-user={{this.user_id}} data-id={{this.id}}></span>
                                             {{!-- <div class="product-info" style="display: none"> --}}
                                             <div class="product-info">
                                                <p>{{this.name}}</p>
                                                <p>Category: {{this.category}}</p>
                                                <p>Condition: {{this.condition}}</p>
                                                <p>Value: ${{this.value}}</p>
                                            </div>
                                        </div>
                                    
                            {{/each}}
                        </div>
                        </form>
                    {{!-- </div> --}}
                {{!-- </div> --}}
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">My Items</h3>
                    </div>
                    <div class="panel-body">

                        <form method="POST" action="offer/{{this.id}}?_method=PUT" class="button-size" id="offerForm">
                            {{#each owner_products}}      

                            <div class="each-user-own-product">
                                <img class="product-img"src="{{this.picture}}" style="width: 200px; height: 200px;">
                                <br>
                                <span class="formtext">Select This Item       <input type="radio" name="offer" value={{this.id}} data-user={{this.user_id}} data-id={{this.id}}></span>
                                {{!-- <div class="product-info" style="display: none"> --}}
                                <div class="product-info">
                                    <p>{{this.name}}</p>
                                    <p>Category: {{this.category}}</p>
                                    <p>Condition: {{this.condition}}</p>
                                    <p>Value: ${{this.value}}</p>
                                </div>

                            </div>

                                    
                                            
    {{!--                                         <button type="submit" class="btn btn-default">Offer Trade</button> --}}
                                    
                            {{/each}}
                        </form>
                    </div>
                </div>
            </div>


             <div class="col-sm-4">
                <h4 class="formtext">Add a Product</h4>

                <form class="create-update-form" action="/add" method="POST">
                    <div class="form-group">
                        <label for="name" class="formlabel">Product Name</label>
                        <input type="text" class="productinput" id="product-name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="category" class="formlabel">Category</label>
                        {{!-- <input type="text" id="category" name="category"> --}}
                        <select data-placeholder="" class="chosen-select form-control" id="category" name="category"> 
                            <option value="" disabled selected hidden>Select Category</option>
                            <option value="electronics">Electronics</option>
                            <option value="misc">Music</option>
                            <option value="home">Home</option>
                            <option value="sports">Sports</option>
                            <option value="sports">Collectibles</option>
                            <option value="sports">Gaming</option>
                            <option value="misc">Misc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description" class="formlabel">Description</label>
                        <input type="text" class="productinput" id="description" name="description">
                    </div>

                    <div class="form-group">
                        <label for="condition" class="formlabel">Condition</label>
                        <select data-placeholder="" class="chosen-select form-control" id="condition" name="condition">
                            <option value="" disabled selected hidden>Select Condition</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="home">Good</option>
                            <option value="sports">Used</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="value" class="formlabel">Estimated Value $</label>
                        <input type="text" class="productinput" id="value" name="value">
                    </div>

                    <div class="form-group">
                        <label for="picture" class="formlabel">Add Picture URL</label>
                        <input type="text" class="productinput" id="pic" name="picture">
                    </div>

                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>
            </div>
        </div>
    
            <div class="row">
                <div class="col col-sm-12">
                    <button class="btn btn-success" id="tradeConfirm">Confirm Trade Request</button>
                </div>
            </div>         

        <div class="row">
            <div class="col col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Items Traded</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{#each product}}
                                    <div class="product col col-lg-6">
                                        <div class="well">
                            
                                        </div>
                                    </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{{/if}}
